### Object Oriented Programming
    1. Class is similar to blueprint
    2. We can declare multiple objects

In [2]:
age = 23
print(type(age))

<class 'int'>

In [232]:
a = [1, 2, 3]
print(type(a))

<class 'list'>

In [ ]:
b = (1, 2, "a")
print(type(b))

<class 'tuple'>

### Dictionary Class

In [5]:
c = {"a": 1, "b": 2, "c": 3}
print(type(c))

<class 'dict'>

#### Dataframe class

In [6]:
import pandas as pd

s = {
    "roll_no": [101, 102, 103, 104],
    "name": ["Rahul", "Raman", "Aditi", "Sarthak"],
    "marks": [89, 93, 67, 83],
}
df = pd.DataFrame(s)
print(type(df))

<class 'pandas.core.frame.DataFrame'>

#### Dataframe attributes
   1. df.shape
   2. df.columns
   3. df.index
   4. df.size
   5. df.values
   6. df.dtypes

In [7]:
# Dataframe attributes
df.shape

(4, 3)

In [8]:
df.size

12

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   roll_no  4 non-null      int64
 1   name     4 non-null      object
 2   marks    4 non-null      int64
dtypes: int64(2), object(1)
memory usage: 228.0+ bytes

In [10]:
df.mean(numeric_only=True)

roll_no    102.5
marks       83.0
dtype: float64

#### DataFrame Methods

In [12]:
df.sort_values(by="roll_no")

   roll_no     name  marks
0      101    Rahul     89
1      102    Raman     93
2      103    Aditi     67
3      104  Sarthak     83

In [21]:
df.groupby(by=["name", "roll_no"])["marks"].size()

name     roll_no
Aditi    103        1
Rahul    101        1
Raman    102        1
Sarthak  104        1
Name: marks, dtype: int64

In [25]:
df.corr(numeric_only=True)

          roll_no     marks
roll_no  1.000000 -0.496929
marks   -0.496929  1.000000

In [135]:
class Person:
    def __init__(self, name: str, age: str, gender: str, occupation: str):
        self.name = name
        self.age = age
        self.gender = gender
        self.occupation = occupation

    def intro(self):
        print(f"My name is {self.name}")
        print(f"My age is {self.age}")
        print(f"My gender is {self.gender}")
        print(f"My occupation is {self.occupation}")


p = Person(name="DT", age=46, gender="male", occupation="Data Scientist")
p.intro()

My name is DT
My age is 46
My gender is male
My occupation is Data Scientist

In [146]:
class Person_Rep_Str:
    def __init__(self, name: str, age: str, gender: str, occupation: str):
        self.name = name
        self.age = age
        self.gender = gender
        self.occupation = occupation

    def __str__(self):
        return f"Name: {self.name}, age:{self.age}, gender:{self.gender}, occupation:{self.occupation}"

    def __repr__(self):
        return f"Name: {self.name}, age:{self.age}, gender:{self.gender}, occupation:{self.occupation}"

    def intro(self):
        print(f"My name is {self.name}")
        print(f"My age is {self.age}")
        print(f"My gender is {self.gender}")
        print(f"My occupation is {self.occupation}")


p = Person_Rep_Str(name="DT", age=46, gender="Male", occupation="Data Scientist")
p

Name: DT, age:46, gender:Male, occupation:Data Scientist

In [141]:
p.intro()

My name is DT
My age is 46
My gender is male
My occupation is Data Scientist

In [150]:
p.__repr__(), p.__str__()

('Name: DT, age:46, gender:Male, occupation:Data Scientist',
 'Name: DT, age:46, gender:Male, occupation:Data Scientist')

In [151]:
from dataclasses import dataclass
from typing import Literal


@dataclass
class Person_DataClass:
    name: str
    age: str
    gender: Literal["Male", "Female"]
    occupation: str

    def intro(self):
        print(f"Name: {self.name}")
        print(f"age: {self.age}")
        print(f"gender: {self.gender}")
        print(f"occupation: {self.occupation}")


p = Person_DataClass(name="DT", age=46, gender="Male", occupation="Data Scientist")
p

Person_DataClass(name='DT', age=46, gender='Male', occupation='Data Scientist')

### Create a class for banking transactions

In [224]:
import uuid
import time
from datetime import datetime
from dataclasses import field
from dataclasses import dataclass
from typing import Literal

uuid.uuid4()


@dataclass
class Transaction:
    amount: float
    timestamp: datetime = field(default_factory=datetime.now)
    description: str = ""


@dataclass
class BankAccount:
    owner: str
    balance: float = field(default=0.0, repr=False)
    account_id: str = field(default_factory=lambda: str(uuid.uuid4()), repr=False)
    transactions: list[Transaction] = field(default_factory=list, repr=False)

    def deposit(self, amount: float, description: str = "deposit"):
        self.amount = amount
        if self.amount <= 0:
            raise ValueError("Amount cannot be less than or equal to '0'")
        self.balance = self.balance + amount
        self.transactions.append(Transaction(amount=amount, description=description))

    def withdraw(self, amount: float, description: str = "withdraw"):
        self.amount = amount
        if self.amount <= 0:
            raise ValueError("Amount cannot be less than or equal to '0'")
        if self.balance < self.amount:
            raise ValueError(
                f"Insufficent balance for withdrawing amount: {self.amount} "
            )
        self.balance = self.balance - amount
        self.transactions.append(Transaction(amount=amount, description=description))

    def transfer(
        self,
        amount: float,
        target_account: "BankAccount",
        description: str = "transfer",
    ):
        self.withdraw(amount=amount, description=description)
        target_account.deposit(amount=amount, description="deposit")

    def get_statement(self):
        lines = [
            f"Bank Statement for owner: {self.owner} and account_id: {self.account_id}"
        ]
        for transaction in self.transactions:
            lines.append(
                f"{transaction.timestamp} | {transaction.description} | {transaction.amount:.2f}"
            )
        return "\n".join(lines)

In [229]:
ac1 = BankAccount(owner="DT")
ac2 = BankAccount("HB")

In [230]:
# AC1: DT Account Transactions
ac1.deposit(100), ac1.deposit(10)
print(ac1.get_statement())

# AC2 : HB Account Transactions
ac2.deposit(400), ac2.deposit(10), ac2.withdraw(50), ac2.transfer(100, ac1)
print(ac2.get_statement())

Bank Statement for owner: DT and account_id: 36f20926-8369-45c8-acfe-14209093ee5e
2025-08-27 15:31:11.774894 | deposit | 100.00
2025-08-27 15:31:11.774900 | deposit | 10.00
Bank Statement for owner: HB and account_id: 79c630b1-458d-4be0-bccd-0a38697417ba
2025-08-27 15:31:11.775485 | deposit | 400.00
2025-08-27 15:31:11.775490 | deposit | 10.00
2025-08-27 15:31:11.775495 | withdraw | 50.00
2025-08-27 15:31:11.775498 | transfer | 100.00

In [231]:
ac1.deposit(103), ac2.deposit(111)
ac1.balance, ac2.balance

(313.0, 371.0)

### Assignment - Create a triangle class with 3 sides as an attribute
Create following methods
1. forms a triangle or not
2. perimeter
3. area using herons formula
using dataclass python

In [38]:
from dataclasses import dataclass
from typing import Literal
import math


@dataclass
class Triangle:
    a: float
    b: float
    c: float

    def is_triangle(self) -> bool:

        is_triangle = False
        if (
            self.a + self.b > self.c
            and self.b + self.c > self.a
            and self.a + self.c > self.b
        ):
            is_triangle = True
        else:
            is_triangle = False

        return is_triangle

    def perimeter(self) -> float:
        perimeter = 0

        if not self.is_triangle():
            raise ValueError("Values does not form a triangle")

        perimeter = self.a + self.b + self.c

        return perimeter

    def area(self):
        area = 0
        if not self.is_triangle():
            raise ValueError("Values does not form a triangle")

        semi_perimeter = self.perimeter() / 2

        area = (
            semi_perimeter
            * (semi_perimeter - self.a)
            * (semi_perimeter - self.b)
            * (semi_perimeter - self.c)
        )

        return math.sqrt(area)


try:
    a = 1
    b = 2
    c = 3
    print(f"---------- Start ----------")
    print(f"Entered Values: {a,b,c}")
    triangle = Triangle(a=a, b=b, c=c)

    is_triangle = triangle.is_triangle()
    print(f"Form a Triangle = [{is_triangle}]")

    perimeter = triangle.perimeter()
    print(f"Permiter of Triangle = [{perimeter}]")

    area = triangle.area()
    print(f"Area of Triangle = {area:2f}")

except Exception as ex:
    print(ex)
finally:
    print(f"---------- End ----------\n")


try:
    a = 5
    b = 5
    c = 3
    print(f"---------- Start ----------")
    print(f"Entered Values: {a,b,c}")
    triangle = Triangle(a=7, b=5, c=3)

    is_triangle = triangle.is_triangle()
    print(f"Form a Triangle = {is_triangle}")

    perimeter = triangle.perimeter()
    print(f"Permiter of Triangle = {perimeter}")

    area = triangle.area()
    print(f"Area of Triangle = {area:.2f}")
except Exception as ex:
    print(ex)
finally:
    print(f"---------- End ----------\n")

---------- Start ----------
Entered Values: (1, 2, 3)
Form a Triangle = [False]
Values does not form a triangle
---------- End ----------

---------- Start ----------
Entered Values: (5, 5, 3)
Form a Triangle = True
Permiter of Triangle = 15
Area of Triangle = 6.50
---------- End ----------