### Object Oriented Programming
    1. Class is similar to blueprint
    2. We can declare multiple objects

In [2]:
age = 23
print(type(age))

<class 'int'>

In [3]:
a = [1, 2, 3]
print(type(a))

<class 'list'>

In [4]:
 b = (1, 2, "a")
 print(type(b))

<class 'tuple'>

### Dictionary Class

In [5]:
c = {"a": 1, "b": 2, "c": 3}
print(type(c))

<class 'dict'>

#### Dataframe class

In [6]:
import pandas as pd

s = {
    "roll_no": [101, 102, 103, 104],
    "name": ["Rahul", "Raman", "Aditi", "Sarthak"],
    "marks": [89, 93, 67, 83],
}
df = pd.DataFrame(s)
print(type(df))

<class 'pandas.core.frame.DataFrame'>

#### Dataframe attributes
   1. df.shape
   2. df.columns
   3. df.index
   4. df.size
   5. df.values
   6. df.dtypes

In [7]:
# Dataframe attributes
df.shape

(4, 3)

In [8]:
df.size

12

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   roll_no  4 non-null      int64
 1   name     4 non-null      object
 2   marks    4 non-null      int64
dtypes: int64(2), object(1)
memory usage: 228.0+ bytes

In [10]:
df.mean(numeric_only=True)

roll_no    102.5
marks       83.0
dtype: float64

#### DataFrame Methods

In [12]:
df.sort_values(by="roll_no")

   roll_no     name  marks
0      101    Rahul     89
1      102    Raman     93
2      103    Aditi     67
3      104  Sarthak     83

In [21]:
df.groupby(by=["name", "roll_no"])["marks"].size()

name     roll_no
Aditi    103        1
Rahul    101        1
Raman    102        1
Sarthak  104        1
Name: marks, dtype: int64

In [25]:
df.corr(numeric_only=True)

          roll_no     marks
roll_no  1.000000 -0.496929
marks   -0.496929  1.000000

In [26]:
class Person:
    def __init__(self, name: str, age: str, gender: str, occupation: str):
        self.name = name
        self.age = age
        self.gender = gender
        self.occupation = occupation

    def intro(self):
        print(f"My name is {self.name}")
        print(f"My age is {self.age}")
        print(f"My gender is {self.gender}")
        print(f"My occupation is {self.occupation}")


p = Person(name="DT", age=46, gender="male", occupation="Data Scientist")
p

In [27]:
p.intro()

My name is DT
My age is 46
My gender is male
My occupation is Data Scientist

In [28]:
class Person_Rep_Str:
    def __init__(self, name: str, age: str, gender: str, occupation: str):
        self.name = name
        self.age = age
        self.gender = gender
        self.occupation = occupation

    def __str__(self):
        return f"Name: {self.name}, age:{self.age}, gender:{self.gender}, occupation:{self.occupation}"

    def __repr__(self):
        return f"Name: {self.name}, age:{self.age}, gender:{self.gender}, occupation:{self.occupation}"

    def intro(self):
        print(f"My name is {self.name}")
        print(f"My age is {self.age}")
        print(f"My gender is {self.gender}")
        print(f"My occupation is {self.occupation}")


p = Person_Rep_Str(name="DT", age=46, gender="Male", occupation="Data Scientist")
p

Name: DT, age:46, gender:Male, occupation:Data Scientist

In [29]:
p.intro()

My name is DT
My age is 46
My gender is Male
My occupation is Data Scientist

In [30]:
p.intro

In [31]:
p.__str__

In [32]:
p.__str__()

'Name: DT, age:46, gender:Male, occupation:Data Scientist'

In [34]:
p.__repr__()

'Name: DT, age:46, gender:Male, occupation:Data Scientist'

In [41]:
from dataclasses import dataclass
from typing import Literal


@dataclass
class Person_DataClass:
    name: str
    age: str
    gender: Literal["Male", "Female"]
    occupation: str

    def intro(self):
        print(f"Name: {self.name}")
        print(f"age: {self.age}")
        print(f"gender: {self.gender}")
        print(f"occupation: {self.occupation}")


p = Person_DataClass(name="DT", age=46, gender="Male", occupation="Data Scientist")
p
# p.intro()

Person_DataClass(name='DT', age=46, gender='Male', occupation='Data Scientist')